.parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/src/assets/neon.png');
  background-size: cover;
  background-position: center top;
  background-repeat:repeat-y repeat-x;
  z-index: -10;
  opacity: 0.75;
  filter:blur(2px);
  pointer-events: none;
  will-change:transform;
  transition:transform 0.1s ease-out;
}
